/*a{*/
    /*text-decoration: none;*/
    /*color:black;*/
/*}*/
a:active{
    color: red;
}
.body-background-color{
    background-color: #FEFEFE;
}
.button, .button span {
    -moz-border-radius: .3em;
    border-radius: .3em;
}
.button {
    /*margin: 10px;*/
    padding:0.2rem;
    text-decoration: none;
    font:  1em 'Trebuchet MS',Arial, Helvetica;
    display: inline-block;
    text-align: center;
    color: #fff;
    border: 1px solid #9c9c9c;
     border: 1px solid rgba(0, 0, 0, 0.3);
     text-shadow: 0 1px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 0.05em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 0.05em rgba(0,0,0,0.4);
}
.button:hover {
    box-shadow: 0 0 0.1em rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 .1em rgba(0,0,0,0.4);
     -webkit-box-shadow: 0 0 0.1em rgba(0,0,0,0.4);
}
.button-brown {
    /*background: #8f3714;*/
    /*background: -webkit-gradient(linear, left top, left bottom, from(#bf6f50), to(#8f3714) );*/
    /*background: -moz-linear-gradient(-90deg, #bf6f50, #8f3714);*/
    /*filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#bf6f50', EndColorStr='#8f3714');*/
    background-color: #4FA5D0;
}
.clicked-state{
    background-color: #FFFFFF;
    color: red;
}
.document-state{
    margin: 10px 5px;
}
#bottom-nav{
    width: 100%;
    height: 3rem;
    position: fixed;
    left: 0px;
    right: 0px;
    background-color: #FFFFFF;
    border-top: 1px solid #BEBEBE;
}
/*fieldset{*/
    /*margin:0rem 0rem 0rem .8rem;*/
    /*padding-top: 1rem;*/
/*}*/
.input-background-color{
    background-color: #FEFEFE;
}
/*input:focus{*/
    /*outline: #FEFEFE solid 0px;*/
/*}*/
/*li{*/
    /*padding:0.5rem;*/
/*}*/
#leftNav{
    position: fixed;
    top: 3.5rem;
    left: 0;
    width:7.5rem;
}
#leftNav li{
    background-color: #FFFFFF;
    border-bottom: 1px solid #E2E2E2;
    border-right: 1px solid #E2E2E2;
    text-align: center;
}
#leftNav li.active{
    background-color: #F4F4F4;
    border-right: 1px solid #F4F4F4;
}
.hr{
    border:1px solid #E6E6E6;
    margin: 5px 0px;
    width:100%;
}
.menu-right{
    position: inherit;
    right:0;
    bottom:0;
    left:6.5rem;
    margin-left:7.7rem;
    margin-right:0.2rem;
    margin-top: 3.5rem;
    padding: 0.5rem;
    border:2px solid #FFFFFF;
}
.content{
    border: 1px solid #CDCDCD;
    background-color: white;
    padding: 10px 5px;
    margin-bottom:10px;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    border-radius: 0.3rem;
}
.content div{
    width:100%;
}
.hidden-money a{
    text-align: right;
}
.hidden-rebate{
    text-align: right;
}
.newDo{
    text-decoration: none;
    text-align: center;
    color:#fff;
    background-color: #bf6f50;
    /*border:1px solid rgba();*/
}
.width100{
    width:100%;
}
/*.finished div{*/
    /*border: 1px solid #CDCDCD;*/
    /*background-color: white;*/
    /*padding: 10px 5px;*/
    /*margin-bottom:10px;*/
    /*-webkit-border-radius: 0.3rem;*/
    /*-moz-border-radius: 0.3rem;*/
    /*border-radius: 0.3rem;*/
/*}*/
.small-font{
    color: #898989;
    font-size: 0.7rem;
}
.text-icon-color{
    color: red;
}
.top-div{
    position: fixed;
    left: 0px;
    top: 0px;
    right:0px;
    height:3rem;
    z-index: 10001;
}
.top-info{
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid #E2E2E2;
}
ul{
    list-style: none;
}
.w-5{
    width:25%;
}